/* base styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 70px;
}

.spaced-link {
  margin-right: 10px;
}

.card-font-title {
  font-size: 30px;
}

.card-font-desciption {
  font-size: 25px;
}

/* Link color when hovered over */
ul.nav li.nav-item a.nav-link.text-dark:hover {
  color: #3333FF !important;
}